#posts_wrapper{
	padding: 3em 0;
	.post{
		text-align: center;

		.date {
		font-size: .9em;
		margin: 0;
	
				}
					h2{
						margin: 0;
						font-size: 2em;
						text-transfrom: uppercase;
						a{
					      text-decoration: none;
					      color: $dark;
					      &:hover{
					      color: $highlight;
					      }
						}
	}
	hr{
	margin: 3em auto;
	}
	}
}

//----

.pagination:before,
.pagination:after{
	content: " ";
	display: table;
}

.pagination:after {
	clear: box;
}

.pagination{
	text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
	padding: .75em 1em;
	margin: 0 .25em;
	border-radius: .15 em;
	line-height: 20px;
	text-decoration: none;
	background: $white;
	font-weight: 700;
	font-size: .7em;
	font-style: normal;
	color: $dark;
	&:hover{
	background: $highlight;
	color: $white;
	}
	}
	.current{
	background: $highlight;
	color: $white;

	}
	.diasbled{
	color: #C0C0C0;
	&:hover {
		color: #C0C0C0;
		background: $white;


	}
	}
}